@if (!string.IsNullOrEmpty(Message))
{
	<div class="alert @AlertClass alert-dismissible fade show" role="alert">
		<strong>@Type!</strong> @Message
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

@code {
	[Parameter]
	public string Type { get; set; }

	[Parameter]
	public string Message { get; set; }

	[Parameter]
	public string AlertType { get; set; } = "info";

	private string AlertClass => AlertType switch
	{
		"warning" => "alert-warning",
		"danger" => "alert-danger",
		_ => "alert-info",
	};
}