@if (IsLoading)
{
	<div class="overlay">
		<div class="spinner-border text-light" role="status">
			<span class="visually-hidden">Caricamento...</span>
		</div>
	</div>
}

<style>
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 9999;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>

@code {
	[Parameter]
	public bool IsLoading { get; set; }
}