@using ChatGPT_Splitter_Blazor_New.Pages.TextComparer.Model.Comparison
@if (Results != null && Results.Any())
{
    <h4>Risultati del Confronto</h4>
    @foreach (var result in Results)
    {
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">
                    <strong>Testo 1:</strong> @MyInputText1.Substring(result.SourceStart, result.SourceEnd - result.SourceStart)
                </p>
                <p class="card-text">
                    <strong>Testo 2:</strong> @MyInputText2.Substring(result.TargetStart, result.TargetEnd - result.TargetStart)
                </p>
            </div>
        </div>
    }
}
else
{
    <p>Nessun risultato da mostrare.</p>
}

@code {
    [Parameter]
    public List<MatchSegment> Results { get; set; }

    [Parameter]
    public string MyInputText1 { get; set; }

    [Parameter]
    public string MyInputText2 { get; set; }
}

